input.convert_url {
  font-size: 18px;
  width: 600px   
}

button.convert_submit {
  font-size: 18px;
  padding: 5px;
}

div.terminal { 
  background: black;
  color: white;
  padding: 0.2em 0.5em 0em 0.5em;
  width: 1000px;
  height: 500px;
}

span.terminal_prompt {
  color: yellow
}

span.terminal_action {
  color: white
}

span.terminal_success {
  color: blue;
  font-weight: bold;
}

span.terminal_failure {
  color: red;
  font-weight: bold;
}
